@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: Plus Jakarta Sans;
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.maincontainer {
  max-width: 1440px;
  padding: 0px 15px;
  margin: auto;
}

section {
  width: 100%;
  padding: 30px 0px;
}

.slick-dots {
  margin-bottom: -26px;
}

@media only screen and (max-width: 412px) {
  .slick-dots {
    margin-bottom: -26px;
  }

  .slick-dots li {
    margin: 0;
  }
}

@media only screen and (max-width: 412px) {
  .slick-dots {
    margin-bottom: -26px;
  }

  .slick-dots li {
    margin: 0;
  }
}